html {
    font-family: 'Open Sans', sans-serif;
    margin: 5px;
}

h1, h2, h3 {
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
    color: #333;
}

a:link {
    color: rgb(0, 0, 238)
}

a:active {
    color: rgb(0, 0, 238)
}

a:visited {
    color: rgb(0, 0, 238)
}

a:hover {
    color: rgb(0, 0, 238)
}

img.chunk {
    float: left;
    width: 10px;
    height: 10px;
}

div.row {
    overflow: hidden;
}
